
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Source+Code+Pro&family=Zeyada&display=swap');

*{
  background-color: #212529;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  
}

.App {
  text-align: center;
}
.coin-input{
  height: 0.5rem;
  width: 18rem;
  border-radius: 0.5rem;
  border:1px solid white;
  padding: 1.5rem;
  outline: none;
  color: white;
  transition-duration: .5s;
  cursor: pointer;
  font-size: 16px;
}

.coin-input:focus{
  border: 1.5px solid #04BE62;
}